.posts.container
  .post__header
    .jumbotron
      %h1 Rails Blog with Admin
      %p Styled with Bootstrap
      %p.pull-right ... and I was in a purple kind of mood.

  .row.posts__button-row
    = link_to 'Post Administration', posts_admin_index_path, class: 'btn btn-purple'
    = link_to "New Post", new_posts_admin_path, class: 'btn btn-purple'

  .row
    .col-md-2
      - if @posts
        - @posts.each do |post|
          %p= post.title
      - else
        %p No posts yet. :(
    
    .col-md-10  
      .panel.posts__panel
        .panel-heading
          %h1= @posts.first.title 
        .panel-body
          %p= raw @posts.first.body
